@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Sen", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
}
